@using LenchikSite.Data;

@page "/adminpanel"


<NavLink href="/addcardpage">
    <button class="background_but">Добавить товар</button>
</NavLink>
<NavLink href="/deletepage">
    <button class="background_but">Удалить товар</button>
</NavLink>




@code
{

}




