@using LenchikSite.Data;

@page "/adminpanel"


<NavLink href="/addcardpage">
    <button class="background_but">Добавить товар</button>
</NavLink>
<NavLink href="/deletepage">
    <button style="background: red" class="background_but">Удалить товар</button>
</NavLink>
<NavLink href="/editcards">
    <button class="background_but">Изменить товар</button>
</NavLink>
<NavLink href="/addcategory">
    <button class="background_but">Добавить категорию</button>
</NavLink>
<NavLink href="/deletecategory">
    <button style="background: red" class="background_but">Удалить категорию</button>
</NavLink>





@code
{

}




