@page "/reg"


<PageTitle>Registration</PageTitle>
c
<div class="container but">
    <label for="email"><b>Электронная почта</b></label>
    <input type="text" placeholder="Введите электронную почту" name="email" required>

    <label for="uname"><b>Логин</b></label>
    <input type="text" placeholder="Введите логин" name="uname" required>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Введите пароль" name="psw" required>

    <label for="ppsw"><b>Подтверждение пароля</b></label>
    <input type="password" placeholder="Подтвердите пароль" name="ppsw" required>

    <button class="background_but">Зарегистрироваться</button>
</div>